@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.barraColor::-moz-range-thumb {
  background-color: hsl(var(--c) 100 50);
  border: solid 2px var(--b);
  width: 5px;
}

.specialTitle {
  background: -webkit-linear-gradient(
    0deg,
    #00a3cc -2.17%,
    #5f5fd3 33%,
    #7f2aff 66%,
    #ff3200 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.it {
  transform: translateX(100%);
}

.w-highlight {
  width: 25rem;
}

@font-face {
  font-family: 'Lato'; /* Name your font family */
  src: url('./fonts/Lato/Lato-Regular.ttf'); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: 'Lato bold'; /* Name your font family */
  src: url('./fonts/Lato/Lato-Bold.ttf'); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: 'Lato black'; /* Name your font family */
  src: url('./fonts/Lato/Lato-Black.ttf'); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: 'Playfair Display SC'; /* Name your font family */
  src: url('./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf'); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: 'RockNRoll One'; /* Name your font family */
  src: url('./fonts/RocknRoll_One/RocknRollOne-Regular.ttf'); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: 'Titillium web'; /* Name your font family */
  src: url('./fonts/Titillium_Web/TitilliumWeb-Bold.ttf'); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: 'Bio Sans'; /* Name your font family */
  src: url('./fonts/biosans/Flat-it\ -\ Bio\ Sans\ Bold.otf'); /* Locate the .ttf file within your directory*/
}
